<<<<<<< HEAD
@media screen and (min-width: 700px) {
*{
    margin: 0;
    padding: 0;
}
.img-1,.img-2,.img-3,.img-4{
        display: none;
    }
.nav-bar ul{
    list-style-type: none;
    float: left;
    padding: 10px;
    position: sticky;
    top: 0;;
    display: block;
    width: 100%;
    z-index: 2;
    background-color: white;
}
.nav-bar ul li{
    display: inline-block;
}
.nav-right{
    float: right; 
    padding-right: 40px;
}
.nav-bar ul li a{
    display:block;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 20px;
    padding-left: 40px;
}
.nav-bar ul li a:hover{
    text-decoration: underline;
    text-decoration-color: plum;
    text-decoration-thickness: 3px;
      text-underline-offset: 5px;
}
.nav-bar{
    position: sticky;
    position: -webkit-sticky;
    top:0;
   z-index: 2;}

.name-con{;
    padding-top: 10em;
    
}
.name-con p{
    padding-top: 30px;
    font-size: 20px;
}
.name-con h1{
    font-size: 80px;
    padding-bottom: 10px;
}
.big-black{
    margin-top: 5em;
    width: 90%;;
    height: 600px;
    border-radius: 4%;
    background-color: black;
}



/* HOME IMAGE CONTAINER */
.home-bc-1{
    margin-top: 100px;
    border-radius: 5%;
    text-align: center;
    background-image: linear-gradient(lightgrey,lightblue);
}
.home-img-1{
    margin: 50px;
    width: 40%;
    height: 800px;
}   
.home{
    padding: 0 20%;
}
.home-a:hover .home-bc-1{
    transform: translateY(10px);
    transition:0.5s ease-in-out;
    box-shadow: 0 30px 30px 0 whitesmoke, 0 6px 20px 0 grey;

}
.home-bc-1 h3,p{
    padding: 0 50px 0 0;
    margin: 0;
}
.home-bc-1 h3{
    text-align: right;
    font-size: 40px;
}
.home-bc-1 p{
    text-align: right;
    padding-top: 100px;
}

.home-a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:black;
}
.home-a:hover{
    text-decoration: none;
    color: black;;
}
.home-img-2{
    margin:70px;
    width:50%;
    height: 500px;
    border-radius: 10px;
}


.home-img-3{
    margin:70px;
    width:70%;
    height: 500px;
    border-radius: 10px;
}
.home-img-4{
    margin:50px;
    width:70%;
    height: 500px;
    border-radius: 10px;
    opacity: 0.95;
}
.home-img-5{
    margin:50px;
    width:40%;
    height: 500px;
    border-radius: 10px;
    opacity: 0.95;
}
.footer{
    padding: 200px;
}
.same-bot{;
    padding: 3em;
    
}
.same-bot-1{;
    padding: 0 3em 3em 3em;
    
}
.same-bot-1 h1{
    font-size: 80px;
    padding-bottom: 10px;
}
.same-bot-p{
    padding-top: 30px;
    font-size: 25px;
    text-align: center;
}
.same-bot h1{
    font-size: 80px;
    padding-bottom: 10px;
}



/*alertS */
.alerts .alert span{
    float: right;

}
.alrt-clr-1{
    border-radius: 20px !important;
    background-color:#e8e8e4;
}

.alrt-clr-2{
    border-radius: 20px !important;
    background-color:bisque;
}

.alrt-clr-3{
    border-radius: 20px !important;
    background-color:#ffafcc;
}

.alrt-clr-4{
    border-radius: 20px !important;
    background-color: aquamarine;
}

.alrt-clr-5{
    border-radius: 20px !important;
    background-color: #bdb2ff;
}

.alerts{
    padding: 20px 0;
}
.alrt-cont{
    width: 100%;
    height: 100%;
}

.alert-1{
    width: 35%;
    position: relative;
    left: 0%;
    display: block;
}

.alert-2{
    width: 35%;
    position: relative;
    left: 13%;
    display: block;
    
}
.alert-3{
    
    width: 35%;
    position: relative;
    left: 26%;
    
}
.alert-4{
    width: 35%;
    position: relative;
    left: 39%;
    }
.alert-5{
    width: 35%;
    position: relative;
    left: 52%;
    padding-bottom:100px ;
    }
.about-hr{
    border-top:4px solid teal!important;
}





/* Carrers*/

.carrer-lin{
    background-image: linear-gradient(to bottom right,#ffc8dd,#f0efeb );
    padding-bottom: 100px;
    width: 100%;
}
.container-fluid{
    padding-right: 0!important;
    padding-left: 0 !important;
}

.name-con-1{;
    padding-top: 10em;
    
}
.name-con-1 p{
    padding-top: 30px;
    font-size: 18px;
}
.name-con-1 h1{
    font-size: 60px;
    padding-bottom: 10px;
}

.wip-con-1{
    padding-top: 50px;
    text-align: center;
    width: 50%;
}


}
@media screen and (min-width: 768px) {
.img-1{
    background-image: linear-gradient(green,yellow);
    width: 100px;
    height: 100px;
    top:0; 
    position: absolute;
    z-index: 1;
    display: inline;
    left:-120px;
    border-radius: 10%;
}

.img-2{
    background-image: linear-gradient(green,yellow);
    width: 100px;
    height: 100px;
    top: 0;
    right:-60px; 
    position: absolute;
    z-index: 1;
    display: inline;
    border-radius: 10%;
}

.img-3{
    background-image: linear-gradient(green,yellow);
    width: 100px;
    height: 100px;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: inline;
    right:-60px;
    border-radius: 10%;
}

.img-4{
    background-image: linear-gradient(green,yellow);
    width: 100px;
    height: 100px;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: inline;
    left:-120px;
    border-radius: 10%;
}





/*ABOUT IMAGE CONTAINER AMD EXPERIENCE*/
.abt-top{
    padding: 100px 0px;
}
.abt-top img{
    margin :0px 50px 50px 50px;
    border-radius: 20px;
    box-shadow: 0 30px 30px 0 whitesmoke, 0 6px 20px 0 grey;
    width:80%;
    height:80%
}

}
@media screen and (max-width: 700px) {
    .img-1,.img-2,.img-3,.img-4{
        display: none;
    }
  *{
    margin: 0;
    padding: 0;
}
.nav-bar{
    position: sticky;
    position: -webkit-sticky;
    top:0;
   z-index: 2;}
.nav-bar ul{
    list-style-type: none;
    float: left;
    display: block;
    width: 100%;
    z-index: 2;
   background-color:white;
}
.nav-bar ul li{
    display: inline-block;
    z-index: 2;
}

.nav-right{
    float: right; 
    padding-right: 10px;
    padding: 5px;
}
.nav-bar ul li a{
    display:block;
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: 8px;
    padding-left: 10px;
    z-index: 2;
}
.nav-bar ul li a:hover{
    text-decoration: underline;
    text-decoration-color: plum;
    text-decoration-thickness: 1px;
      text-underline-offset: 5px;
}
.name-con h1{
    font-size: 50px;
    padding-bottom: 10px;
}
.big-black{
    margin: 40px;
    width: 80%;;
    height: 10em;
    border-radius: 10px;
    background-color: black;
}







/* HOME IMAGE CONTAINER */
.home-bc-1{
    margin-top: 60px;
    border-radius: 5%;
    text-align: center;
    background-image: linear-gradient(lightgrey,lightblue);
}

.home{
    padding: 0 20%;
}
.home-a:hover .home-bc-1{
    transform: translateY(10px);
    transition:0.5s ease-in-out;
    box-shadow: 0 30px 30px 0 whitesmoke, 0 6px 20px 0 grey;

}
.home-a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.home-a:hover{
    text-decoration: none;
    color: black;
}

.home-img-1{
    margin: 20px;
    width: 40%;
    height: 200px;
}   
.home-img-2{
    margin: 20px;
    width:50%;
    height: 200px;
    border-radius: 10px;
}
.home-img-3{
    margin: 40px;
    width:60%;
    height: 150px;
    border-radius: 10px;
}
.home-img-4{
    margin: 40px;
    width:70%;
    height: 150px;
    border-radius: 10px;
}

.home-img-5{
    margin: 40px;
    width:50%;
    height: 150px;
    border-radius: 10px;
}


.home-bc-1 h3,p{
    padding: 0 10px 0 0;
    margin: 0;
}
.home-bc-1 h3{
    
    text-align: right;
    font-size: 15px;
}
.home-bc-1 p{
    
    text-align: right;
    padding-top: 15px;
    font-size: 10px;
    margin-bottom: 5px;
}






/*ABOUT IMAGE CONTAINER AMD EXPERIENCE*/

.abt-top img{
    margin :20px;
    border-radius: 20px;
    box-shadow: 0 30px 30px 0 whitesmoke, 0 6px 20px 0 grey;
    width:70%;
    height:70%
}
.abt-top h2 {
    padding-bottom: 15px;
    font-size: 25px;
}
.abt-top p {
    font-size: 15px;
}
.abt-top{
    padding-bottom: 70px;
}

/*alertS */

/*alertS */
.alerts .alert span{
    float: right;

}
.alert{
    border-radius: 20px !important;
    background-color: aquamarine;
}
.alerts{
    padding: 20px 0;
}
.alerts h5{
    font-size: 17px;
}

.alerts p{
    font-size: 10px;
}
.alrt-clr-1{
    border-radius: 20px !important;
    background-color:#e8e8e4;
}

.alrt-clr-2{
    border-radius: 20px !important;
    background-color:bisque;
}

.alrt-clr-3{
    border-radius: 20px !important;
    background-color:#ffafcc;
}

.alrt-clr-4{
    border-radius: 20px !important;
    background-color: aquamarine;
}

.alrt-clr-5{
    border-radius: 20px !important;
    background-color: #bdb2ff;
}








.carrer-lin{
    background-image: linear-gradient(to bottom right,#ffc8dd,#f0efeb );
    padding-bottom: 50px;
    width: 100%;
}
.container-fluid{
    padding-right: 0!important;
    padding-left: 0 !important;
}
.name-con-1 h1{
    font-size: 35px;
    padding-bottom: 10px;
}

.name-con-1 p{
    font-size: 8px;
}

=======
@media screen and (min-width: 700px) {
*{
    margin: 0;
    padding: 0;
}
.img-1,.img-2,.img-3,.img-4{
        display: none;
    }
.nav-bar ul{
    list-style-type: none;
    float: left;
    padding: 10px;
    position: sticky;
    top: 0;;
    display: block;
    width: 100%;
    z-index: 2;
    background-color: white;
}
.nav-bar ul li{
    display: inline-block;
}
.nav-right{
    float: right; 
    padding-right: 40px;
}
.nav-bar ul li a{
    display:block;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 20px;
    padding-left: 40px;
}
.nav-bar ul li a:hover{
    text-decoration: underline;
    text-decoration-color: plum;
    text-decoration-thickness: 3px;
      text-underline-offset: 5px;
}
.nav-bar{
    position: sticky;
    position: -webkit-sticky;
    top:0;
   z-index: 2;}

.name-con{;
    padding-top: 10em;
    
}
.name-con p{
    padding-top: 30px;
    font-size: 20px;
}
.name-con h1{
    font-size: 80px;
    padding-bottom: 10px;
}
.big-black{
    margin-top: 5em;
    width: 90%;;
    height: 600px;
    border-radius: 4%;
    background-color: black;
}



/* HOME IMAGE CONTAINER */
.home-bc-1{
    margin-top: 100px;
    border-radius: 5%;
    text-align: center;
    background-image: linear-gradient(lightgrey,lightblue);
}
.home-img-1{
    margin: 50px;
    width: 40%;
    height: 800px;
}   
.home{
    padding: 0 20%;
}
.home-a:hover .home-bc-1{
    transform: translateY(10px);
    transition:0.5s ease-in-out;
    box-shadow: 0 30px 30px 0 whitesmoke, 0 6px 20px 0 grey;

}
.home-bc-1 h3,p{
    padding: 0 50px 0 0;
    margin: 0;
}
.home-bc-1 h3{
    text-align: right;
    font-size: 40px;
}
.home-bc-1 p{
    text-align: right;
    padding-top: 100px;
}

.home-a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:black;
}
.home-a:hover{
    text-decoration: none;
    color: black;;
}
.home-img-2{
    margin:70px;
    width:50%;
    height: 500px;
    border-radius: 10px;
}


.home-img-3{
    margin:70px;
    width:70%;
    height: 500px;
    border-radius: 10px;
}
.home-img-4{
    margin:50px;
    width:70%;
    height: 500px;
    border-radius: 10px;
    opacity: 0.95;
}
.home-img-5{
    margin:50px;
    width:40%;
    height: 500px;
    border-radius: 10px;
    opacity: 0.95;
}
.footer{
    padding: 200px;
}
.same-bot{;
    padding: 3em;
    
}
.same-bot-1{;
    padding: 0 3em 3em 3em;
    
}
.same-bot-1 h1{
    font-size: 80px;
    padding-bottom: 10px;
}
.same-bot-p{
    padding-top: 30px;
    font-size: 25px;
    text-align: center;
}
.same-bot h1{
    font-size: 80px;
    padding-bottom: 10px;
}



/*alertS */
.alerts .alert span{
    float: right;

}
.alrt-clr-1{
    border-radius: 20px !important;
    background-color:#e8e8e4;
}

.alrt-clr-2{
    border-radius: 20px !important;
    background-color:bisque;
}

.alrt-clr-3{
    border-radius: 20px !important;
    background-color:#ffafcc;
}

.alrt-clr-4{
    border-radius: 20px !important;
    background-color: aquamarine;
}

.alrt-clr-5{
    border-radius: 20px !important;
    background-color: #bdb2ff;
}

.alerts{
    padding: 20px 0;
}
.alrt-cont{
    width: 100%;
    height: 100%;
}

.alert-1{
    width: 35%;
    position: relative;
    left: 0%;
    display: block;
}

.alert-2{
    width: 35%;
    position: relative;
    left: 13%;
    display: block;
    
}
.alert-3{
    
    width: 35%;
    position: relative;
    left: 26%;
    
}
.alert-4{
    width: 35%;
    position: relative;
    left: 39%;
    }
.alert-5{
    width: 35%;
    position: relative;
    left: 52%;
    padding-bottom:100px ;
    }
.about-hr{
    border-top:4px solid teal!important;
}





/* Carrers*/

.carrer-lin{
    background-image: linear-gradient(to bottom right,#ffc8dd,#f0efeb );
    padding-bottom: 100px;
    width: 100%;
}
.container-fluid{
    padding-right: 0!important;
    padding-left: 0 !important;
}

.name-con-1{;
    padding-top: 10em;
    
}
.name-con-1 p{
    padding-top: 30px;
    font-size: 18px;
}
.name-con-1 h1{
    font-size: 60px;
    padding-bottom: 10px;
}

.wip-con-1{
    padding-top: 50px;
    text-align: center;
    width: 50%;
}


}
@media screen and (min-width: 768px) {
.img-1{
    background-image: linear-gradient(green,yellow);
    width: 100px;
    height: 100px;
    top:0; 
    position: absolute;
    z-index: 1;
    display: inline;
    left:-120px;
    border-radius: 10%;
}

.img-2{
    background-image: linear-gradient(green,yellow);
    width: 100px;
    height: 100px;
    top: 0;
    right:-60px; 
    position: absolute;
    z-index: 1;
    display: inline;
    border-radius: 10%;
}

.img-3{
    background-image: linear-gradient(green,yellow);
    width: 100px;
    height: 100px;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: inline;
    right:-60px;
    border-radius: 10%;
}

.img-4{
    background-image: linear-gradient(green,yellow);
    width: 100px;
    height: 100px;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: inline;
    left:-120px;
    border-radius: 10%;
}





/*ABOUT IMAGE CONTAINER AMD EXPERIENCE*/
.abt-top{
    padding: 100px 0px;
}
.abt-top img{
    margin :0px 50px 50px 50px;
    border-radius: 20px;
    box-shadow: 0 30px 30px 0 whitesmoke, 0 6px 20px 0 grey;
    width:80%;
    height:80%
}

}
@media screen and (max-width: 700px) {
    .img-1,.img-2,.img-3,.img-4{
        display: none;
    }
  *{
    margin: 0;
    padding: 0;
}
.nav-bar{
    position: sticky;
    position: -webkit-sticky;
    top:0;
   z-index: 2;}
.nav-bar ul{
    list-style-type: none;
    float: left;
    display: block;
    width: 100%;
    z-index: 2;
   background-color:white;
}
.nav-bar ul li{
    display: inline-block;
    z-index: 2;
}

.nav-right{
    float: right; 
    padding-right: 10px;
    padding: 5px;
}
.nav-bar ul li a{
    display:block;
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: 8px;
    padding-left: 10px;
    z-index: 2;
}
.nav-bar ul li a:hover{
    text-decoration: underline;
    text-decoration-color: plum;
    text-decoration-thickness: 1px;
      text-underline-offset: 5px;
}
.name-con h1{
    font-size: 50px;
    padding-bottom: 10px;
}
.big-black{
    margin: 40px;
    width: 80%;;
    height: 10em;
    border-radius: 10px;
    background-color: black;
}







/* HOME IMAGE CONTAINER */
.home-bc-1{
    margin-top: 60px;
    border-radius: 5%;
    text-align: center;
    background-image: linear-gradient(lightgrey,lightblue);
}

.home{
    padding: 0 20%;
}
.home-a:hover .home-bc-1{
    transform: translateY(10px);
    transition:0.5s ease-in-out;
    box-shadow: 0 30px 30px 0 whitesmoke, 0 6px 20px 0 grey;

}
.home-a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.home-a:hover{
    text-decoration: none;
    color: black;
}

.home-img-1{
    margin: 20px;
    width: 40%;
    height: 200px;
}   
.home-img-2{
    margin: 20px;
    width:50%;
    height: 200px;
    border-radius: 10px;
}
.home-img-3{
    margin: 40px;
    width:60%;
    height: 150px;
    border-radius: 10px;
}
.home-img-4{
    margin: 40px;
    width:70%;
    height: 150px;
    border-radius: 10px;
}

.home-img-5{
    margin: 40px;
    width:50%;
    height: 150px;
    border-radius: 10px;
}


.home-bc-1 h3,p{
    padding: 0 10px 0 0;
    margin: 0;
}
.home-bc-1 h3{
    
    text-align: right;
    font-size: 15px;
}
.home-bc-1 p{
    
    text-align: right;
    padding-top: 15px;
    font-size: 10px;
    margin-bottom: 5px;
}






/*ABOUT IMAGE CONTAINER AMD EXPERIENCE*/

.abt-top img{
    margin :20px;
    border-radius: 20px;
    box-shadow: 0 30px 30px 0 whitesmoke, 0 6px 20px 0 grey;
    width:70%;
    height:70%
}
.abt-top h2 {
    padding-bottom: 15px;
    font-size: 25px;
}
.abt-top p {
    font-size: 15px;
}
.abt-top{
    padding-bottom: 70px;
}

/*alertS */

/*alertS */
.alerts .alert span{
    float: right;

}
.alert{
    border-radius: 20px !important;
    background-color: aquamarine;
}
.alerts{
    padding: 20px 0;
}
.alerts h5{
    font-size: 17px;
}

.alerts p{
    font-size: 10px;
}
.alrt-clr-1{
    border-radius: 20px !important;
    background-color:#e8e8e4;
}

.alrt-clr-2{
    border-radius: 20px !important;
    background-color:bisque;
}

.alrt-clr-3{
    border-radius: 20px !important;
    background-color:#ffafcc;
}

.alrt-clr-4{
    border-radius: 20px !important;
    background-color: aquamarine;
}

.alrt-clr-5{
    border-radius: 20px !important;
    background-color: #bdb2ff;
}








.carrer-lin{
    background-image: linear-gradient(to bottom right,#ffc8dd,#f0efeb );
    padding-bottom: 50px;
    width: 100%;
}
.container-fluid{
    padding-right: 0!important;
    padding-left: 0 !important;
}
.name-con-1 h1{
    font-size: 35px;
    padding-bottom: 10px;
}

.name-con-1 p{
    font-size: 8px;
}

>>>>>>> 8bfb8b0abacd0555b7361c5d4f1a0d00318c2f00
}